<header class='app-header'>
	<nav class='app-nav'>
		<div class='app-nav-main'>
			<div class='home-icon-area'>
				<a href='/'><img src='/assets/home-icon.svg' alt='Home icon' /></a>
			</div>
			<ul class='header-nav-menu'>
				<li><a href='#'>Atração</a></li>
				<li><a href='#'>Inbound</a></li>
				<li><a href='#'>Aquisição</a></li>
				<li><a href='#'>Retenção</a></li>
			</ul>
		</div>
		<div class='profile-pic-area'>
			<a href='#'><img
					src='/assets/profile-picture.svg'
					alt='Profile picture'
				/></a>
		</div>
	</nav>
</header>