<header class='side-menu'>
	<div class='area-context'>
		<img src='/assets/area-icon.svg' alt='Area icon' />
		<div class='area-details'>
			<span class='area-name'>Area name</span>
			<span class='area-specs'>Area specs</span>
		</div>
	</div>
	<ul class='pages-group closed'>
		<span class='pages-group-name closed'>Group 1</span>
		<li><a href=''>Page One</a></li>
		<li><a href=''>Page Two</a></li>
		<li><a href=''>Page Three</a></li>
		<li><a href=''>Page Four</a></li>
		<li><a href=''>Page Five</a></li>
	</ul>
	<ul class='pages-group open'>
		<span class='pages-group-name open'>Group 2</span>
		<li><a href=''>Page One</a></li>
		<li><a href=''>Page Two</a></li>
		<li><a href=''>Page Three</a></li>
		<li><a href=''>Page Four</a></li>
		<li><a href=''>Page Five</a></li>
	</ul>
	<ul class='pages-group closed'>
		<span class='pages-group-name closed'>Group 3</span>
		<li><a href=''>Page One</a></li>
		<li><a href=''>Page Two</a></li>
		<li><a href=''>Page Three</a></li>
		<li><a href=''>Page Four</a></li>
		<li><a href=''>Page Five</a></li>
	</ul>
	<a href='/auth/logout'>Logout</a>
</header>