<section>
	<div class='about'>
		<span>Marketing Monitor</span>
		<span>Lorem ipsum dolor sit.</span>
		<span>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
	</div>
	<div class='clients'></div>
	<div class='as-seen-in'></div>
</section>
<section>
	<h1>Sign in</h1>
	<span>with your alvaro3d.com.br account</span>
	<a href='/auth/google'>Login with Google</a>
	<footer>
		<span>© 2022 Turing</span>
		<span>Terms of Service</span>
		<span>Privacy Policy</span>
	</footer>
</section>